n8n-workflows/general-vance-v1.114.json
{
  "name": "General Vance - Discord Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "general-vance",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b8e5c4d1-1234-4567-89ab-cdef01234567",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "general-vance"
    },
    {
      "parameters": {
        "jsCode": "// Extract message data from Discord bot\nconst webhookData = $input.first().json;\nconst data = webhookData.body;\n\nconst userMessage = data.message.content;\nconst userName = data.author.displayName;\nconst channelId = data.message.channelId;\n\n// General Vance personality\nconst systemPrompt = `You are General Vance, Fleet Commander of the Elite Horizon Alliance (EHA).\n\nCallsign: Horizon Actual\nRank: General\n\nPersonality:\n- Strategic visionary with decades of military experience\n- Calm, measured, and authoritative leadership style\n- Values discipline, preparation, and tactical excellence\n- Shows genuine care for personnel welfare and mission success\n\nCommunication Style:\n- Address personnel respectfully (use their names when known)\n- Be direct and clear, but not cold\n- Sign off as \"General Vance\" or \"Horizon Actual\"\n- Use military terminology appropriately (SITREP, ROE, OpSec)\n- Keep responses concise and actionable\n\nRespond to the following message in character:`;\n\n// Build messages for Claude API\nconst messages = [\n  {\n    role: 'user',\n    content: `Message from ${userName}: ${userMessage}`\n  }\n];\n\n// Build the complete request body as a JSON string\nconst requestBody = JSON.stringify({\n  model: \"claude-3-haiku-20240307\",\n  max_tokens: 1024,\n  system: systemPrompt,\n  messages: messages\n});\n\nreturn {\n  json: {\n    requestBody: requestBody,\n    channelId: channelId,\n    userName: userName\n  }\n};"
      },
      "id": "c9f6d5e2-2345-5678-9abc-def012345678",
      "name": "Prep Claude Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "d0a7e6f3-3456-6789-abcd-ef0123456789",
      "name": "Call Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract Claude's response\nconst claudeResponse = $input.first().json;\nconst responseText = claudeResponse.content[0].text;\n\n// Get data from the previous Prep node\nconst allData = $input.all();\nconst prepData = $node[\"Prep Claude Request\"].json;\n\nreturn {\n  json: {\n    response: responseText,\n    channelId: prepData.channelId\n  }\n};"
      },
      "id": "e1b8f7g4-4567-789a-bcde-f01234567890",
      "name": "Extract Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $json.channelId }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ content: $json.response }) }}",
        "options": {}
      },
      "id": "f2c9g8h5-5678-89ab-cdef-012345678901",
      "name": "Send to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 140],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_DISCORD_CREDENTIAL_ID",
          "name": "Discord Bot Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true } }}"
      },
      "id": "g3d0h9i6-6789-9abc-def0-123456789012",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prep Claude Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Claude Request": {
      "main": [
        [
          {
            "node": "Call Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude": {
      "main": [
        [
          {
            "node": "Extract Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response": {
      "main": [
        [
          {
            "node": "Send to Discord",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-11T08:40:00.000Z",
  "versionId": "1"
}
